<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ category.category_name }}</title>
  </head>
  <body>
    <header>
      <h1>Подробнее о категории:</h1>
       <section class="category">
        <a href="/" class="all-category">
          Назад на главную страницу
          </a>
        {% if categories %}
        <ul>
          {% for category in categories %}
         
          <li>
            <a href="/category/{{ category.id }}/"
              >{{ category.category_name }}</a
            >
          </li>
          <li>{{ category.description }}</li>
          <hr />
          {% endfor %}
          <hr />
        </ul>
        {% endif %}
    </header>
  <main>
      <section class="posts">
        <h2>Самые последние из размещенных объявлений:</h2>
        {% if posts %}
        <ul>
          {% for post in posts %} 
          <h2>Категория объявления: {{post.category}}</h2>            
          <li>
            
            <a href="/posts/{{ post.id }}/">Более подробно:{{ post.post_name }}</a>
          </li>
          <li><img src="{{ post.image.url }}" alt="{{ post.post_name}}" /></li>
          <li>Дата последнего изменения: {{ post.date_edit }}</li>
          <li>Стоимость: {{ post.price }} рублей</li>
         
          <hr />
          
          {% endfor %}
        </ul>
        {% endif %}
      </section>
    </main>
    <footer></footer>
  </body>
</html>
