{% extends 'base.html' %} {% block title %}
<title>Побробнее о категории</title>
{% endblock title %}
<p>{%block content %}
  <header>
     
       <section class="category">       
        {% if categories %}
        <ul>
          {% for category in categories %}
         
          <li>
            <a href="{% url 'core:category_detail' category.id %}"
              >{{ category.category_name }}</a
            >
          </li>
          <li>{{ category.description }}</li>
          <hr />
          {% endfor %}
          <hr />
        </ul>
        {% endif %}
    </header>
  <main>
      <section class="posts">
        <h2>Самые последние из размещенных объявлений из категории: </h2>
        {% if posts %}
        <ul>
          {% for post in posts %} 
          <h2>{{post.category}}</h2>            
          <li>            
            <a href="{% url 'core:post_detail' post.id %}">Более подробно: {{ post.post_name }}</a>
          </li>
          <li><img src="{{ post.image_url }}" alt="{{ post.post_name}}" /></li>
          <li>Дата последнего изменения: {{ post.date_edit }}</li>
          <li>Стоимость: {{ post.price }} рублей</li>
         
          <hr />
          
          {% endfor %}
        </ul>
        {% endif %}
      </section>
    </main>
    <footer></footer>
   {% endblock content%}</p>
