<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{categorys}}}</title>
  </head>
  <body>
    <header>
      <h1>Категории в которых Вы можете создать свои объявления</h1>
    </header>
    {% if categorys %}
    <ul>
      {% for category in categorys %}
      <li>{{ category.category_name }}</li>
      <li>{{ category.description }}</li>
      <hr />
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
