{% extends 'base.html' %} {% block title %}
<title>Категории</title>
{% endblock title %}
<p>{%block content %} 
 <header></header>
    <main>
      <section>
        {% if post.author == user %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{form}}
          <button type="submit">обновить объявление</button>
        </form>
        {% else %}
        <h2>Вы не можете редактировать это объявление!!</h2>
        <hr />
        {% endif %}
        <a href="{% url 'core:index' %}"> На главную</a>
      </section>
    </main>
    <footer></footer>
  {% endblock content%}</p>
