{% extends 'base.html' %} {% block title %}
<title>{{page_title}}</title>
{% endblock title %}
<p>{%block content %} 
  <section>
      {% if all_profile %}
        <ul class="user_short">
          {% for profile in all_profile %}
          <li>
            <a href="{% url 'core:profile' profile.user.id %}"
              >{{ profile.user.username }}</a>
            <img src="{{ profile.foto.url }}" alt="photo" class="profile_img">           
         
          {% endfor %}         
        </ul>
      {% endif %}
  </section> 
{% endblock content%}</p>
