* {
  box-sizing: border-box;
  outline-color: #c29974;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  background-color: white;
}

img {
  display: block;
  width: 25%;
}

a {
  text-decoration: none;
}

ul li {
  display: block;
  text-decoration: none;
  list-style: none;
}

aside {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 5;

  color: rgb(42, 116, 190);
}

aside img {
  margin: 30px;
  width: 180px;
}

main {
  margin-left: 300px;
}

.aside-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

aside ul li {
  margin-bottom: 20px;
  color: rgba(48, 31, 196, 0.774);
}

aside ul a {
  display: block;
  background: #cfaf91;
  padding: 10px;
}

aside ul li i {
  margin-right: 10px;
}

.header-title {
  margin: 0;
  margin: auto;
  margin-bottom: 50px;
  width: 1140px;
}
